duplicati/
homeassistant/
code-server/
mosquitto/
minecraft/
portainer/
zigbee2mqtt/
nodered/
nextcloud/
mariadb/
mariadb-gitea/
gitea/
gitea-act-runner/
wireguard/
ddclient/
.*pass
dashy/

.history
secrets.dhall
docker-compose.yml
docker-compose.yaml
build
znc

memgpt/