duplicati/
homeassistant/
code-server/
mosquitto/
minecraft/
portainer/
zigbee2mqtt/
nodered/
nextcloud/
mariadb/
mariadb-gitea/
gitea/
gitea-act-runner/
wireguard/
ddclient/
n8n/
dokuwiki/
traefik/
.*pass
dashy/
danswer/

.history
secrets.dhall
docker-compose.yml
docker-compose.yaml
build
znc

memgpt/
yhlygh-mind/
data/
certs*
typesense/
valkey/
actual-budget/
